/* Enter your custom styles here */
.sapUiTextBold {
    font-weight: bold;
}

.leftPanel {
    overflow-y: scroll;
    height: 100vh;
}

img.sapMSelectListItemIcon {
    width: 20px;
    height: 100%;
}