/* Enter your custom styles here */
.sapUiTextBold {
    font-weight: bold;
}

.leftPanel {
    overflow-y: scroll;
    height: 100vh;
}

.rightPanelFooterActions {
    position: sticky !important;
    bottom: 0;
    right: 0;
    border: 0.5px solid #ccc;
}


img.sapMSelectListItemIcon {
    width: 20px;
    height: 100%;
}